name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test on Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest

    strategy:
      # Build script requires Node.js >= 14.14.0.
      matrix:
        node-version: ['14', '20', 'lts/*', 'node']
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build
        run: npm run build

      - name: Run JS tests
        run: npm test

  typecheck:
    name: Type-check
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js node
        uses: actions/setup-node@v4
        with:
          node-version: 'node'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Type-check
        run: npm run typecheck

